In [1]:
# load dataset
from pycaret.datasets import get_data
diabetes = get_data('diabetes')

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#pip list

In [2]:
# init setup
from pycaret.classification import *
import matplotlib.pyplot as plt
clf1 = setup(data = diabetes, target = 'Class variable')

# creating a model
lr = create_model('lr')

# plot model

In [4]:
df=pull()
print(df)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
0       0.7778  0.8105  0.4737  0.8182  0.6000  0.4609  0.4939
1       0.8333  0.8812  0.7368  0.7778  0.7568  0.6301  0.6307
2       0.7963  0.8627  0.5556  0.7692  0.6452  0.5075  0.5207
3       0.7778  0.8488  0.6111  0.6875  0.6471  0.4857  0.4875
4       0.7778  0.8056  0.6667  0.6667  0.6667  0.5000  0.5000
5       0.7222  0.8256  0.3889  0.6364  0.4828  0.3077  0.3251
6       0.7593  0.7917  0.5556  0.6667  0.6061  0.4348  0.4385
7       0.7736  0.7746  0.6111  0.6875  0.6471  0.4812  0.4830
8       0.7736  0.8206  0.5556  0.7143  0.6250  0.4664  0.4740
9       0.7736  0.8444  0.5000  0.7500  0.6000  0.4508  0.4688
Mean    0.7765  0.8266  0.5655  0.7174  0.6277  0.4725  0.4822
Std     0.0263  0.0312  0.0938  0.0557  0.0650  0.0750  0.0713

In [5]:
tuned_lr= tune_model(lr)

In [6]:
tuned_lr_itr= tune_model(lr, n_iter = 50)

In [10]:
tuned_lr_mtr= tune_model(lr, optimize = 'AUC')

In [11]:
dt = create_model('dt')

In [13]:
# tune model
tuned_dt = tune_model(dt, optimize = 'Recall')

In [14]:
rf = create_model('rf')

In [ ]:

fig = plt.figure(figsize=(25,20)) 
plot_model(lr, plot = 'feature', save=True, verbose=False, scale=1.1) 
plt.savefig('fileName.png')

In [ ]:
import matplotlib.pyplot as plt
plt.figure().canvas.get_supported_filetypes()

In [ ]:
# plot model
plot_model(lr, plot = 'auc')

In [ ]:
# plot model
plot_model(lr, plot = 'auc',save=True)

In [ ]:
# plot model
plot_model(lr, plot = 'confusion_matrix')

In [ ]:
plot_model(lr, plot = 'confusion_matrix',save=True)

In [ ]:
 get_config("prep_pipe")

In [ ]:
dtype_object=get_config("prep_pipe").steps[0][1]
dtype_object

In [ ]:
help(get_config)

In [ ]:
plot_model(lr, plot = 'class_report')

In [ ]:
plot_model(lr, plot = 'ks')

In [ ]:
plot_model(lr, plot = 'ks',save=True)

In [ ]:
plot_model(lr, plot = 'parameter',save=False)

In [ ]:
plot_model(lr, plot = 'class_report',save=True)

In [ ]:
import matplotlib.pyplot as plt

axes = plt.gca()

In [ ]:
# plot model
plot_model(lr, plot = 'confusion_matrix', use_train_data = True)

In [ ]:
plot_model(lr, plot = 'error',save=False, use_train_data = True)

In [ ]:
plot_model(lr, plot = 'error',save=True)

In [ ]:
from sklearn.cluster import MiniBatchKMeans
from yellowbrick.cluster import KElbowVisualizer

visualizer = KElbowVisualizer(MiniBatchKMeans(), k=(4,12))

visualizer.fit(X)
visualizer.show(outpath="kelbow_minibatchkmeans.png")

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

from yellowbrick.classifier import ROCAUC
from yellowbrick.datasets import load_spam
import os
from pathlib import Path
 
plot_dir='D:/Projects/Python/ModelValPycaret/static/media/'

# # Load the classification dataset
# X, y = load_spam()
from pycaret.datasets import get_data
X=diabetes.drop("Class variable", axis=1)
y=diabetes["Class variable"]

# Create the training and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Instantiate the visualizer with the classification model
model = LogisticRegression(multi_class="auto", solver="liblinear")
visualizer = ROCAUC(model, classes=["not_spam", "is_spam"])

visualizer.fit(X_train, y_train)        # Fit the training data to the visualizer
visualizer.score(X_test, y_test)        # Evaluate the model on the test data
visualizer.show(outpath= plot_dir  + "_yellowbauc.png")

In [ ]:
import os
print(__file__)
print(os.path.join(os.path.dirname(__file__), '..'))
print(os.path.dirname(os.path.realpath(__file__)))
print(os.path.abspath(os.path.dirname(__file__)))

In [ ]:
from pathlib import Path
print(__file__)
print(Path(__file__))